@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.swiper-wrapper {
  margin-bottom: 100px;
}

.swiper-pagination {
  bottom: -15px !important;
  position: absolute;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.25;
  padding: 6px;
  border-radius: 0;
  transform: rotate(45deg);
  margin: 15px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .swiper-pagination {
    display: none !important;
  }
}